{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}Detail{% endblock %}
{% block header_block %} 
	<h1>{{product.prodName}}</h1>
{% endblock %}
{% block body_block %}
	<div class = "detail">
		
		<img class="picture" src ="/media/{{product.image}}" alt = {{product.prodName}}></br>
		<h1>{{product.prodName}}</h1>
		<a href = "{% url 'product_list_by_category'  product.category %}">{{ product.category }}</a></br>
		<h3>Price:{{product.price}} €</h3>
			<div class = "description">
				{{product.description}}
			</div>
	</div>
{% endblock %}
