{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}Main page{% endblock %}
{% block header_block %} 
	<h1>Index Page</h1>
{% endblock %}
{% block body_block %}
	<div class = "row">
        <div class = "fixedColumn">
			{% if categories %}
				<ul>
					{% for category in categories %}
						<li>
							
							<a href="{% url 'shop:product_list_by_category'  category.catSlug %}">{{ category.catName }}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}	
	    </div>
	    
		{% for product in products %}
			<div class = "column">
				<div class = "content">
					<img src ="media/{{product.image}}" alt = {{product.prodName}}></br>
					<a href = "{% url 'shop:detailProduct'  product.pk product.prodSlug %}">{{ product.prodName }} </a></br>
					<p>{{ product.price }}</p></br>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
