{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}
	{% if category %}
		{{category.catName}}
	{% else %}
		Categorias
	{% endif %}	
{% endblock %}
{% block header_block %}
	{% if category %}
		<h1>{{category.catName}}</h1>
	{% else %}
		<h1>Categorias</h1>
	{% endif %}	
{% endblock %}

{% block body_block %}

		 <div class = "fixedColumn">
			<h1>Categories</h1>
			{% if categories %}
				<ul>
					{% for category in categories %}
						<li>
							
							<a href="{% url 'product_list_by_category' category.catSlug %}">{{ category.catName }}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}	
	    </div>
	<div class='products'>
		<div class = "row">
			<div class=content>
				{% for product in products %}
				<div class = "column">
					<div class = "content">
						<img src ="/media/{{product.image}}" alt = {{product.prodName}}></br>
						<a href = "{% url 'product_detail' product.id  product.prodSlug %}">{{ product.prodName }} </a>
						<p>{{ product.price }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
